{% extends "default.html.twig" %}

{% block title %}Page Post{% endblock %}

{% block stylesheet %}
<link href="/../public/css/allPost.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<div class="allPostContainer">
    <div class="allPostFiltre">
        <div class="filter-bar">
            <form action="/allPost" method="get" class="filter-form">
                <div class="group">
                    <label for="sortBy">Sort by:</label>
                    <select name="sortBy" id="sortBy">
                        <option value="date" {% if sortBy == 'date' %}selected{% endif %}>Date</option>
                        <option value="likes" {% if sortBy == 'likes' %}selected{% endif %}>Likes</option>
                        <option value="views" {% if sortBy == 'views' %}selected{% endif %}>Views</option>
                        <option value="comments" {% if sortBy == 'comments' %}selected{% endif %}>Comments</option>
                    </select>
                    
                    <label for="order">Order:</label>
                    <select name="order" id="order">
                        <option value="DESC" {% if order == 'DESC' %}selected{% endif %}>Descending</option>
                        <option value="ASC" {% if order == 'ASC' %}selected{% endif %}>Ascending</option>
                    </select>
                    
                    <button type="submit">Apply Filters</button>
                </div>
            </form>
            
            <form action="/allPost" method="get" class="reset-form">
                <input type="hidden" name="search" value="{{ searchQuery }}">
                <button type="submit">Reset Filters</button>
            </form>
        </div>
    </div>
    <div class="allPostPost">
        {% for Post in postData %}
        <div class="post">
            <div class="user-info">
                <img class="user-picture" src="data:image;base64,{{ Post.ProfilPicture }}" alt="profile picture">
                {% if Post.IsPro == 1 %}
                <h1>{{ Post.FirstName }} {{ Post.LastName }}</h1> <i id="certifIcon" class="fas fa-check-circle"></i>
                {% else %}
                <h1>{{ Post.FirstName }} {{ Post.LastName }}</h1>
                {% endif %}
            </div>
            <p class="datePost">{{ Post.RelativeDatePost }}</p>
            <div class="contentPost">
                <h2>{{ Post.TitlePost }}</h2>
                <p>
                    {% set contentLines = Post.ContentPost | split("\n") %}
                    {% for i in 0..2 %}
                    {{ contentLines[i] }}<br>
                    {% endfor %}
                <form action="/allPost" method="post">
                    <input type="hidden" name="idPost" value="{{ Post.IdPost }}">
                    <button type="submit" name="viewMore" class="viewMore">Voir Plus</button>
                </form>
                </p>
            </div>
            {% for picture in Post.PicturesPost %}
            <img class="icon" src="data:image;base64,{{ picture }}" alt="icon">
            {% endfor %}
            {% if isConnected %}
                <div class="interaction">
                    <form action="/allPost" method="post">
                        <input type="hidden" name="AddLike" value="1">
                        <input type="hidden" name="IdPost" value="{{ Post.IdPost }}">
                        <button class="heart {% if Post.IsLike %}active{% endif %}" type="submit">
                            {% if Post.IsLike %}
                            <i class="fas fa-heart"></i>
                            {% else %}
                            <i class="far fa-heart"></i>
                            {% endif %}
                        </button>
                        <span class="total-likes">{{ Post.TotalLikes }} likes</span>
                    </form>

                    <form action="/allPost" method="post">
                        <input type="hidden" name="AddFavorite" value="1">
                        <input type="hidden" name="IdPost" value="{{ Post.IdPost }}">
                        <button class="favorite {% if Post.IsFavorites %}active{% endif %}" type="submit">
                            {% if Post.IsFavorites %}
                            <i class="fas fa-star"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                        </button>
                    </form>

                    <p class="viewsPost">{{ Post.Views }} views</p>
                </div>
                {% else %}
                <div class="interaction">
                    <button class="heart" disabled>
                        <i class="far fa-heart"></i>
                    </button>
                    <span class="total-likes3">{{ Post.TotalLikes }} likes</span>
                    <button class="favorite" disabled>
                        <i class="far fa-star"></i>
                    </button>
                    <p class="viewsPost">{{ Post.Views }} views</p>
                </div>
                {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="search-add">
        {% if isConnected %}
        <div class="PostButton">
            <button id="openModalButton" class="boton-elegante">Add Post</button>
        </div>
        {% endif %}
        <div class="searchBar">
            <form action="/allPost" method="get" class="search-form">
                <div class="group">
                    <svg class="iconSearch" aria-hidden="true" viewBox="0 0 24 24">
                        <g>
                            <path
                                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                            </path>
                        </g>
                    </svg>
                    <input placeholder="Cherchez un nom, un titre" type="search" value="{{ searchQuery }}" class="search" name="search">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="profileModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/allPost" method="post" id="formAddPost" enctype="multipart/form-data">
            <input type="text" name="TitlePost" placeholder="TitlePost" class="inputField" required>

            <textarea name="ContentPost" placeholder="ContentPost" class="inputFieldDesc" required></textarea>

            <input type="file" id="images" name="PicturePost[]" multiple accept="image/*"
                onchange="validateFiles(this)">

            <button type="submit" name="addPost" class="inputField2">Add Post</button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
<script src="/../public/js/modalUser.js"></script>
{% endblock %}