{% extends "default.html.twig" %}

{% block title %}Panel Admin{% endblock %}

{% block stylesheet %}
<link href="/../public/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<div class="requestContainer">
    {% for RequestPassPro in requestPassProData %}
    <div class="request">
        <div class="infoUser">
            <div class="name">
                <h1>{{ RequestPassPro.FirstName }}</h1>
                <h1>{{ RequestPassPro.LastName }}</h1>
                <p>{{ RequestPassPro.UserAge }} ans</p>
            </div>
            <div class="job">
                <p>Métier : {{ RequestPassPro.UserJob }}</p>
            </div>
            <div class="email">
                <p>Email : {{ RequestPassPro.Email }}</p>
            </div>
        </div>
        <div class="description">
            <h3>Contenu de la demande pour passez pro</h3>
            <p>{{ RequestPassPro.Description | nl2br }}</p>
        </div>
        <div class="identityCard">
            <img class="icon" src="data:image;base64,{{ RequestPassPro.IdentityCardRecto }}" alt="icon" onclick="openModal(this)">
            <img class="icon" src="data:image;base64,{{ RequestPassPro.IdentityCardVerso }}" alt="icon" onclick="openModal(this)">
        </div>
        <div class="button">
            <div class="buttonValid">
                <form action="/dashboard" method="post">
                    <input type="hidden" name="IdRequest" value="{{ RequestPassPro.IdRequest }}">
                    <button name="requestValid" type="submit" id="inputField2">Valider la demande</button>
                </form>
            </div>
            <div class="buttonInvalid">
                <form action="/dashboard" method="post">
                    <input type="hidden" name="IdRequest" value="{{ RequestPassPro.IdRequest }}">
                    <button name="requestInvalid" type="submit" id="inputField2">Refuser la demande</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="img01">
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
<script src="/../public/js/modalImageRequest.js"></script>
{% endblock %}