{% extends "default.html.twig" %}

{% block title %}Panel Admin{% endblock %}

{% block stylesheet %}
<link href="/../public/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<div class="request">
    {% for RequestPassPro in requestPassProData %}
    <p>{{ RequestPassPro.IdUser }}</p>
    <p>{{ RequestPassPro.FirstName  }}</p>
    <p>{{ RequestPassPro.LastName  }}</p>
    <p>{{ RequestPassPro.Email }}</p>
    <p>{{ RequestPassPro.UserJob }}</p>
    <p>{{ RequestPassPro.UserAge }}</p>
    <p>{{ RequestPassPro.Description }}</p>
    <img class="icon" src="data:image;base64,{{ RequestPassPro.IdentityCardRecto }}" alt="icon">
    <img class="icon" src="data:image;base64,{{ RequestPassPro.IdentityCardVerso }}" alt="icon">        
    {% endfor %}
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
{% endblock %}