{% extends "default.html.twig" %}

{% block title %}Profile de {{ user.FirstName }} {{ user.LastName }}{% endblock %}

{% block stylesheet %}
<link href="/../public/css/profile.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<div class="ProfilContainer">
    <div class="profil">
        <div class="profilPictureName">
            <img id="icon" src="data:image;base64,{{user.ProfilPicture}}" alt="icon">
            <h1>{{ user.FirstName }} {{ user.LastName }}</h1>
        </div>
        {% if isConnected and userId == user.IdUser %}
        {% if userId == user.IdUser and user.IsPro == 0 %}
        <div class="passProButton">
            <button id="openModalButtonPro" class="boton-elegante">Demande Passez pro</button>
        </div>
        {% endif %}
        <div class="profilButton">
            <button id="openModalButton" class="boton-elegante">Edit Profile</button>
        </div>
        {% endif %}
    </div>
    <div class="description">
        <p>{{ user.ProfilDescription | nl2br }}</p>
    </div>
</div>

<div id="profileModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/profile-{{ user.IdUser }}" method="post" id="formUpdateUser" enctype="multipart/form-data">
            <input type="text" name="FirstName" placeholder="FirstName" id="inputField">

            <input type="text" name="LastName" placeholder="LastName" id="inputField">

            <div style="position: relative;">
                <textarea name="ProfilDescription" placeholder="ProfilDescription" id="inputFieldDesc"
                    maxlength="255"></textarea>
                <div id="charCount" class="char-count">0/255</div>
            </div>

            <input type="file" id="images" name="ProfilPicture" />

            <button type="submit" name="updateProfile" id="inputField2">Update Profile</button>
        </form>
    </div>
</div>

<div class="modal2" id="ProModal">
    <div class="modal-content2">
        <span class="close2">&times;</span>
        <form action="/profile-{{ user.IdUser }}" method="post" id="formPassPro" enctype="multipart/form-data">
            <input type="text" name="Job" placeholder="Job" id="inputField" required>
            <input type="number" name="Age" placeholder="Age minimum 18 ans" min="18" id="inputField" required>

            <div style="position: relative;">
                <textarea name="Description" placeholder="Parcours, étude, pourquoi vouloir être pro, expérience"
                    id="inputFieldDesc2" required></textarea>
            </div>

            <label for="images" id="labelText">Carte d'identité recto :</label>
            <input type="file" id="images" name="identityCardRecto" accept="image/*" aria-label="Carte d'identité recto"
                required />

            <label for="images" id="labelText">Carte d'identité verso :</label>
            <input type="file" id="images" name="identityCardVerso" accept="image/*" aria-label="Carte d'identité recto"
                required />

            <input type="hidden" name="idUser" value="{{ user.IdUser }}">

            <button type="submit" name="pushRequest" id="inputField2">envoyer la demande</button>
        </form>
    </div>
</div>

<div class="homePost">
    {% for Post in userPost %}
    <div class="post">
        <div class="user-info">
            <img class="user-picture" src="data:image;base64,{{ Post.ProfilPicture }}" alt="profile picture">
            <h1>{{ Post.FirstName }} {{ Post.LastName }}</h1>
            {% if isConnected and userId == user.IdUser %}
            <form action="/profile-{{ user.IdUser }}" method="post" class="formDeletePost">
                <button type="submit" name="deletePost" id="deleteButton">
                    <input type="hidden" name="idPost" value="{{ Post.IdPost }}">
                    <input type="hidden" name="idUser" value="{{ user.IdUser }}">
                    <div class="hover-text">
                        <img src="/../public/image/bin.png" id="deleteImage">
                    </div>
                </button>
            </form>
            {% endif %}
        </div>

        <p class="datePost">{{ Post.RelativeDatePost }}</p>
        <div class="contentPost">
            <h2>{{ Post.TitlePost }}</h2>
            <p>
                {% set contentLines = Post.ContentPost | split("\n") %}
                {% for i in 0..2 %}
                {{ contentLines[i] }}<br>
                {% endfor %}
            <form action="/" method="post">
                <input type="hidden" name="idPost" value="{{ Post.IdPost }}">
                <button type="submit" name="viewMore" class="viewMore">Voir Plus</button>
            </form>
            </p>
        </div>
        {% for picture in Post.PicturesPost %}
        <img class="icon" src="data:image;base64,{{ picture }}" alt="icon">
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
<script src="/../public/js/modalUser.js"></script>
<script src="/../public/js/profilDesc.js"></script>
{% endblock %}